    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
    <script src="javascripts/jquery.restful.js"></script>
</body>
</html>