<% include header %>
<div id="home" data-role="page">
    <div data-role="header" data-position="fixed">
        <h1><%= settings.title %></h1>
    </div><!-- /header -->
    <div data-role="content">
    Home
    </div><!-- /content -->
    <div data-role="footer" data-position="fixed">
        <%- '<h4>&reg; ' + settings.company + ' | 2013</h4>' %>
    </div>
</div>
<% include footer %>